.App {
  text-align: center;
}

.main {
  display: flex;
  width: 100%;
  min-height: 500px;
  justify-content: center;
  align-items: center;
}

.grid {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.line {
  position: relative;
  display: flex;
  gap: 10px;
}

.element {
  width: 56px;
  height: 56px;
  border: 2px solid rgb(170, 170, 170);
  border-radius: 5px;
  background: #fbfcff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 800;
  font-family: cursive;
  color: #393e4c;
}

.letter {
  animation-name: PopIn;
  animation-duration: 0.4s;
}

@keyframes PopIn {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  40% {
    transform: scale(1.1);
    opacity: 1;
  }
}

button {
  width: 150px;
  height: 40px;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  background: #6e1613;
  color: white;
  border: none;
  border-radius: 3px;
}

button:hover {
  transform: scale(1.05);
  background-color: #4a0d0b;
}

button:active {
  transform: scale(0.99);
}

.gameMessage {
  font-style: oblique;
  font-size: 20px;
  font-weight: 500;
}
