@import url(https://fonts.googleapis.com/css?family=Righteous);

.App {
  text-align: center;
}
.title {
  font-family: "Righteous", serif;
  color: #f2ebeb;
  font-size: 5.3rem;
  text-shadow: 0.03em 0.03em 0 rgb(179, 77, 123);

  margin: auto;
}

.home {
  display: flex;
  width: 100%;
  min-height: 500px;
  justify-content: space-around;
  padding-bottom: 20px;
  background-image: url("../public/bgr.png");
  background-repeat: no-repeat;
  background-size: 790px 690px;
}
@media screen and (max-width: 900px) {
  .home {
    width: 100%;
    justify-content: center;
  }
}
.game {
  width: 80%;
  margin: auto;
}
.main {
  display: flex;
  width: 100%;
  min-height: 500px;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 20px;
}
@media screen and (max-width: 900px) {
  .main {
    flex-direction: column;
  }
}

.grid {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.line {
  position: relative;
  display: flex;
  gap: 10px;
}

.element {
  width: 66px;
  height: 66px;
  border: 2px solid rgb(241, 238, 238);
  border-radius: 2px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(250, 244, 244);
}

.letter {
  animation-name: PopIn;
  animation-duration: 0.4s;
}

@keyframes PopIn {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  40% {
    transform: scale(1.1);
    opacity: 1;
  }
}

.gameMessage {
  max-width: fit-content;
  font-size: 21px;
  font-weight: 500;
  height: 30px;
  padding: 10px;
  color: #f2ebeb;
  margin: 10px auto 10px auto;
}

.seperater {
  color: #ffffff;
  border-bottom: 2px solid rgb(255, 255, 255);
  line-height: 0.1em;
}

button {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 10px 30px;
  transition: 0.5s;
  position: relative;
  font-size: 17px;
  background: #333;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-bottom: 40px;
}

button:hover {
  letter-spacing: 0.25em;
  background: #ff1867;
  color: #ff1867;
  box-shadow: 0 0 45px #ff1867;
}

button::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #222222;
}

button span {
  position: relative;
  z-index: 1;
}

button i {
  position: absolute;
  inset: 0;
  display: block;
}

button i::before {
  content: "";
  position: absolute;
  border: 2px solid #ff1867;
  width: 7px;
  height: 4px;
  top: -3.5px;
  left: 80%;
  background: #222222;
  transform: translateX(-50%);
  transition: 0.5s;
}

button:hover i::before {
  width: 20px;
  left: 20%;
}

button i::after {
  content: "";
  position: absolute;
  border: 2px solid #ff1867;
  width: 7px;
  height: 4px;
  bottom: -3.5px;
  left: 20%;
  background: #222222;
  transform: translateX(-50%);
  transition: 0.5s;
}

button:hover i::after {
  width: 20px;
  left: 80%;
}

.inpt-join-game {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100%;
  border: 0;
  font-weight: 360;
  text-align: center;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.4rem;
  font-weight: lighter;
  color: #11998e;
  padding: 7px 0;
  background: transparent;
  margin-left: 5%;
}

.tips-container {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  margin-top: 15px;
}
.info {
  padding: 20px;
  color: white;
  width: 100%;
  max-width: 400px;
  border-radius: 4px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.user-message {
  padding: 20px;
  position: absolute;
  color: whitesmoke;
  font-size: 1.3rem;
  font-weight: 600;
  font-variant-caps: all-small-caps;
  width: 100%;
  max-width: 400px;
  height: 400px;
  background-color: #aa9d9d;
  border-radius: 4px;
  z-index: 9999;
  opacity: 0.9;
}

.token {
  text-transform: uppercase;

  padding: 4px;
  background-color: #6d6969;
}

.loader {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  z-index: 9999;
}
.loader hr {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite;
}

.loader :first-child {
  background: #19a68c;
  animation-delay: -1.5s;
}
.loader :nth-child(2) {
  background: #f63d3a;
  animation-delay: -1s;
}
.loader :nth-child(3) {
  background: #fda543;
  animation-delay: -0.5s;
}
.loader :last-child {
  background: #193b48;
}

@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}

.wrapper {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: #302b2b;
  transition: opacity 0.25s, visibility 1s;
}
.fade {
  opacity: 0;
  visibility: hidden;
}
